In [1]:
from Fetch import Fetch

In [29]:
fetcher = Fetch()
df = fetcher.fetch("SPY")
df.head()

                open      high       low     close     volume  Log_Return
1999-11-01  136.5000  137.0000  135.5625  135.5625  4006500.0         NaN
1999-11-02  135.9687  137.2500  134.5937  134.5937  6516900.0   -0.007172
1999-11-03  136.0000  136.3750  135.1250  135.5000  7222300.0    0.006711
1999-11-04  136.7500  137.3593  135.7656  136.5312  7907500.0    0.007582
1999-11-05  138.6250  139.1093  136.7812  137.8750  7431500.0    0.009794

In [30]:
df

                open      high       low     close      volume  Log_Return
1999-11-01  136.5000  137.0000  135.5625  135.5625   4006500.0         NaN
1999-11-02  135.9687  137.2500  134.5937  134.5937   6516900.0   -0.007172
1999-11-03  136.0000  136.3750  135.1250  135.5000   7222300.0    0.006711
1999-11-04  136.7500  137.3593  135.7656  136.5312   7907500.0    0.007582
1999-11-05  138.6250  139.1093  136.7812  137.8750   7431500.0    0.009794
...              ...       ...       ...       ...         ...         ...
2025-10-29  688.7200  689.7000  682.8700  687.3900  85362207.0    0.000480
2025-10-30  683.9000  685.9400  679.8300  679.8300  76335751.0   -0.011059
2025-10-31  685.0400  685.0800  679.2400  682.0600  87164122.0    0.003275
2025-11-03  685.6700  685.8000  679.9400  683.3400  57315025.0    0.001875
2025-11-04  676.1100  679.9600  674.5800  675.2400  75083805.0   -0.011924

[6543 rows x 6 columns]

In [34]:
df.to_csv('../data/spy.csv')

In [35]:
import pandas as pd
test_load = pd.read_csv('/Users/colekrudwig/Programming/rl-regime-trading/data/spy.csv', index_col=0)

In [36]:
test_load.head()

                open      high       low     close     volume  Log_Return
1999-11-01  136.5000  137.0000  135.5625  135.5625  4006500.0         NaN
1999-11-02  135.9687  137.2500  134.5937  134.5937  6516900.0   -0.007172
1999-11-03  136.0000  136.3750  135.1250  135.5000  7222300.0    0.006711
1999-11-04  136.7500  137.3593  135.7656  136.5312  7907500.0    0.007582
1999-11-05  138.6250  139.1093  136.7812  137.8750  7431500.0    0.009794